body {
    background-color:purple;
    font-family: Arial, Helvetica, sans-serif;
}

.assignments{
    display: flex;
    flex-wrap: wrap;
}

.assignment{
    width:21%;
    padding:10px;
    margin: 10px;
    margin-bottom: 30px;
    background: ghostwhite;
    border-radius: 5px;
    box-shadow: 5px 10px gray;
}

.assignment img{
    width: 200px;
 border:2px solid gray;
 margin-right: 20px;
 border-radius: 5px;
 display: block;
 margin: auto;
}

h1{
    color: gold;
    text-align: center;
}

a{
    text-decoration: none;
    color: gray;
}

.assignment a:hover{
    color: red;
}